<a href="https://colab.research.google.com/github/mifta10/web_scrapping/blob/main/Web_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the ICC Men's T20I Team Rankings page
url = 'https://en.m.wikipedia.org/wiki/ICC_Men%27s_T20I_Team_Rankings'

# Fetch the page
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

# Find the rankings table by searching for the wikitable class
# This selector might need adjustment if the page structure changes
table = soup.find('table', {'class': 'wikitable'})

# Initialize an empty list to hold all row data
data = []

In [18]:
# Extract data from each row of the table
for row in table.find_all('tr'):
    cols = row.find_all(['th', 'td'])  # This gets both headers and data cells
    cols = [ele.text.strip() for ele in cols]
    data.append(cols)

In [22]:
print(data)

[["ICC Men's T20I Team Rankings vte"], ['Rank', 'Team', 'Matches', 'Points', 'Rating'], ['1', 'India', '71', '18,867', '266'], ['2', 'New Zealand', '60', '15,387', '256'], ['3', 'England', '48', '12,305', '256'], ['4', 'Australia', '41', '10,349', '252'], ['5', 'Pakistan', '58', '14,454', '249'], ['6', 'South Africa', '37', '9,210', '249'], ['7', 'West Indies', '46', '11,201', '244'], ['8', 'Sri Lanka', '41', '9,574', '234'], ['9', 'Bangladesh', '46', '10,452', '227'], ['10', 'Afghanistan', '37', '7,443', '219'], ['11', 'Namibia', '28', '5,539', '198'], ['12', 'Ireland', '47', '9,117', '194'], ['13', 'Zimbabwe', '53', '10,222', '193'], ['14', 'Scotland', '18', '3,412', '190'], ['15', 'Netherlands', '19', '3,445', '181'], ['16', 'Nepal', '27', '4,796', '178'], ['17', 'United Arab Emirates', '38', '6,623', '174'], ['18', 'Oman', '24', '3,678', '153'], ['19', 'Papua New Guinea', '22', '3,173', '144'], ['20', 'Canada', '18', '2,528', '140'], ['21', 'Hong Kong', '28', '3,740', '134'], ['22', 'Uganda', '65', '8,602', '132'], ['23', 'United States', '9', '1,183', '131'], ['24', 'Jersey', '19', '2,427', '128'], ['25', 'Malaysia', '41', '5,132', '125'], ['26', 'Kuwait', '28', '3,360', '120'], ['27', 'Bahrain', '36', '3,972', '110'], ['28', 'Qatar', '18', '1,964', '109'], ['29', 'Kenya', '44', '4,697', '107'], ['30', 'Bermuda', '14', '1,494', '107'], ['31', 'Saudi Arabia', '25', '2,558', '102'], ['32', 'Italy', '17', '1,712', '101'], ['33', 'Tanzania', '49', '4,727', '96'], ['34', 'Spain', '18', '1,649', '92'], ['35', 'Germany', '33', '3,022', '92'], ['36', 'Singapore', '33', '2,507', '76'], ['37', 'Guernsey', '16', '1,212', '76'], ['38', 'Nigeria', '30', '2,261', '75'], ['39', 'Portugal', '16', '1,167', '73'], ['40', 'Cayman Islands', '11', '790', '72'], ['41', 'Denmark', '23', '1,622', '71'], ['42', 'Cambodia', '18', '1,239', '69'], ['43', 'Belgium', '18', '1,237', '69'], ['44', 'Isle of Man', '15', '949', '63'], ['45', 'Austria', '29', '1,682', '58'], ['46', 'Norway', '15', '852', '57'], ['47', 'Vanuatu', '15', '846', '56'], ['48', 'Botswana', '29', '1,543', '53'], ['49', 'Finland', '18', '953', '53'], ['50', 'Switzerland', '16', '835', '52'], ['51', 'Japan', '20', '987', '49'], ['52', 'Malawi', '19', '933', '49'], ['53', 'Czech Republic', '24', '1,101', '46'], ['54', 'France', '16', '730', '46'], ['55', 'Sweden', '18', '759', '42'], ['56', 'Indonesia', '26', '1,092', '42'], ['57', 'Philippines', '17', '698', '41'], ['58', 'Romania', '28', '1,149', '41'], ['59', 'Cook Islands', '6', '245', '41'], ['60', 'Argentina', '11', '424', '39'], ['61', 'Mozambique', '24', '864', '36'], ['62', 'Malta', '44', '1,535', '35'], ['63', 'Rwanda', '70', '2,255', '32'], ['64', 'Ghana', '31', '968', '31'], ['65', 'Fiji', '10', '304', '30'], ['66', 'Luxembourg', '30', '845', '28'], ['67', 'Thailand', '19', '527', '28'], ['68', 'Sierra Leone', '28', '766', '27'], ['69', 'Cyprus', '8', '206', '26'], ['70', 'Bahamas', '10', '241', '24'], ['71', 'Belize', '3', '66', '22'], ['72', 'Hungary', '19', '367', '19'], ['73', 'Panama', '11', '206', '19'], ['74', 'Bhutan', '16', '278', '17'], ['75', 'Serbia', '19', '214', '14'], ['76', 'Gibraltar', '30', '385', '13'], ['77', 'Bulgaria', '30', '289', '10'], ['78', 'Lesotho', '9', '82', '9'], ['79', 'China', '7', '63', '9'], ['80', 'Estonia', '11', '60', '5'], ['81', 'Maldives', '20', '75', '4'], ['82', 'Turkey', '7', '26', '4'], ['83', 'Cameroon', '14', '25', '2'], ['84', 'Myanmar', '7', '12', '2'], ['85', 'Gambia', '9', '11', '1'], ['86', 'Eswatini', '18', '0', '0'], ['87', 'Seychelles', '7', '0', '0'], ['88', 'Samoa', '9', '0', '0'], ['89', 'Mali', '8', '0', '0'], ['90', 'Croatia', '10', '0', '0'], ['91', 'Greece', '6', '0', '0'], ['References: ICC T20I rankings, As of 12 February 2024'], ['"Matches" is the number of matches played in the 12â€“24 months since the May before last, plus half the number in the 24 months before that.'], ["ICC Men's T20I Team Rankings vte"], ['Rank', 'Team', 'Matches', 'Points', 'Rating'], ['1', 'India', '71', '18,867', '266'], ['2', 'New Zealand', '60', '15,387', '256'], ['3', 'England', '48', '12,305', '256'], ['4', 'Australia', '41', '10,349', '252'], ['5', 'Pakistan', '58', '14,454', '249'], ['6', 'South Africa', '37', '9,210', '249'], ['7', 'West Indies', '46', '11,201', '244'], ['8', 'Sri Lanka', '41', '9,574', '234'], ['9', 'Bangladesh', '46', '10,452', '227'], ['10', 'Afghanistan', '37', '7,443', '219'], ['11', 'Namibia', '28', '5,539', '198'], ['12', 'Ireland', '47', '9,117', '194'], ['13', 'Zimbabwe', '53', '10,222', '193'], ['14', 'Scotland', '18', '3,412', '190'], ['15', 'Netherlands', '19', '3,445', '181'], ['16', 'Nepal', '27', '4,796', '178'], ['17', 'United Arab Emirates', '38', '6,623', '174'], ['18', 'Oman', '24', '3,678', '153'], ['19', 'Papua New Guinea', '22', '3,173', '144'], ['20', 'Canada', '18', '2,528', '140'], ['21', 'Hong Kong', '28', '3,740', '134'], ['22', 'Uganda', '65', '8,602', '132'], ['23', 'United States', '9', '1,183', '131'], ['24', 'Jersey', '19', '2,427', '128'], ['25', 'Malaysia', '41', '5,132', '125'], ['26', 'Kuwait', '28', '3,360', '120'], ['27', 'Bahrain', '36', '3,972', '110'], ['28', 'Qatar', '18', '1,964', '109'], ['29', 'Kenya', '44', '4,697', '107'], ['30', 'Bermuda', '14', '1,494', '107'], ['31', 'Saudi Arabia', '25', '2,558', '102'], ['32', 'Italy', '17', '1,712', '101'], ['33', 'Tanzania', '49', '4,727', '96'], ['34', 'Spain', '18', '1,649', '92'], ['35', 'Germany', '33', '3,022', '92'], ['36', 'Singapore', '33', '2,507', '76'], ['37', 'Guernsey', '16', '1,212', '76'], ['38', 'Nigeria', '30', '2,261', '75'], ['39', 'Portugal', '16', '1,167', '73'], ['40', 'Cayman Islands', '11', '790', '72'], ['41', 'Denmark', '23', '1,622', '71'], ['42', 'Cambodia', '18', '1,239', '69'], ['43', 'Belgium', '18', '1,237', '69'], ['44', 'Isle of Man', '15', '949', '63'], ['45', 'Austria', '29', '1,682', '58'], ['46', 'Norway', '15', '852', '57'], ['47', 'Vanuatu', '15', '846', '56'], ['48', 'Botswana', '29', '1,543', '53'], ['49', 'Finland', '18', '953', '53'], ['50', 'Switzerland', '16', '835', '52'], ['51', 'Japan', '20', '987', '49'], ['52', 'Malawi', '19', '933', '49'], ['53', 'Czech Republic', '24', '1,101', '46'], ['54', 'France', '16', '730', '46'], ['55', 'Sweden', '18', '759', '42'], ['56', 'Indonesia', '26', '1,092', '42'], ['57', 'Philippines', '17', '698', '41'], ['58', 'Romania', '28', '1,149', '41'], ['59', 'Cook Islands', '6', '245', '41'], ['60', 'Argentina', '11', '424', '39'], ['61', 'Mozambique', '24', '864', '36'], ['62', 'Malta', '44', '1,535', '35'], ['63', 'Rwanda', '70', '2,255', '32'], ['64', 'Ghana', '31', '968', '31'], ['65', 'Fiji', '10', '304', '30'], ['66', 'Luxembourg', '30', '845', '28'], ['67', 'Thailand', '19', '527', '28'], ['68', 'Sierra Leone', '28', '766', '27'], ['69', 'Cyprus', '8', '206', '26'], ['70', 'Bahamas', '10', '241', '24'], ['71', 'Belize', '3', '66', '22'], ['72', 'Hungary', '19', '367', '19'], ['73', 'Panama', '11', '206', '19'], ['74', 'Bhutan', '16', '278', '17'], ['75', 'Serbia', '19', '214', '14'], ['76', 'Gibraltar', '30', '385', '13'], ['77', 'Bulgaria', '30', '289', '10'], ['78', 'Lesotho', '9', '82', '9'], ['79', 'China', '7', '63', '9'], ['80', 'Estonia', '11', '60', '5'], ['81', 'Maldives', '20', '75', '4'], ['82', 'Turkey', '7', '26', '4'], ['83', 'Cameroon', '14', '25', '2'], ['84', 'Myanmar', '7', '12', '2'], ['85', 'Gambia', '9', '11', '1'], ['86', 'Eswatini', '18', '0', '0'], ['87', 'Seychelles', '7', '0', '0'], ['88', 'Samoa', '9', '0', '0'], ['89', 'Mali', '8', '0', '0'], ['90', 'Croatia', '10', '0', '0'], ['91', 'Greece', '6', '0', '0'], ['References: ICC T20I rankings, As of 12 February 2024'], ['"Matches" is the number of matches played in the 12â€“24 months since the May before last, plus half the number in the 24 months before that.'], ["ICC Men's T20I Team Rankings vte"], ['Rank', 'Team', 'Matches', 'Points', 'Rating'], ['1', 'India', '71', '18,867', '266'], ['2', 'New Zealand', '60', '15,387', '256'], ['3', 'England', '48', '12,305', '256'], ['4', 'Australia', '41', '10,349', '252'], ['5', 'Pakistan', '58', '14,454', '249'], ['6', 'South Africa', '37', '9,210', '249'], ['7', 'West Indies', '46', '11,201', '244'], ['8', 'Sri Lanka', '41', '9,574', '234'], ['9', 'Bangladesh', '46', '10,452', '227'], ['10', 'Afghanistan', '37', '7,443', '219'], ['11', 'Namibia', '28', '5,539', '198'], ['12', 'Ireland', '47', '9,117', '194'], ['13', 'Zimbabwe', '53', '10,222', '193'], ['14', 'Scotland', '18', '3,412', '190'], ['15', 'Netherlands', '19', '3,445', '181'], ['16', 'Nepal', '27', '4,796', '178'], ['17', 'United Arab Emirates', '38', '6,623', '174'], ['18', 'Oman', '24', '3,678', '153'], ['19', 'Papua New Guinea', '22', '3,173', '144'], ['20', 'Canada', '18', '2,528', '140'], ['21', 'Hong Kong', '28', '3,740', '134'], ['22', 'Uganda', '65', '8,602', '132'], ['23', 'United States', '9', '1,183', '131'], ['24', 'Jersey', '19', '2,427', '128'], ['25', 'Malaysia', '41', '5,132', '125'], ['26', 'Kuwait', '28', '3,360', '120'], ['27', 'Bahrain', '36', '3,972', '110'], ['28', 'Qatar', '18', '1,964', '109'], ['29', 'Kenya', '44', '4,697', '107'], ['30', 'Bermuda', '14', '1,494', '107'], ['31', 'Saudi Arabia', '25', '2,558', '102'], ['32', 'Italy', '17', '1,712', '101'], ['33', 'Tanzania', '49', '4,727', '96'], ['34', 'Spain', '18', '1,649', '92'], ['35', 'Germany', '33', '3,022', '92'], ['36', 'Singapore', '33', '2,507', '76'], ['37', 'Guernsey', '16', '1,212', '76'], ['38', 'Nigeria', '30', '2,261', '75'], ['39', 'Portugal', '16', '1,167', '73'], ['40', 'Cayman Islands', '11', '790', '72'], ['41', 'Denmark', '23', '1,622', '71'], ['42', 'Cambodia', '18', '1,239', '69'], ['43', 'Belgium', '18', '1,237', '69'], ['44', 'Isle of Man', '15', '949', '63'], ['45', 'Austria', '29', '1,682', '58'], ['46', 'Norway', '15', '852', '57'], ['47', 'Vanuatu', '15', '846', '56'], ['48', 'Botswana', '29', '1,543', '53'], ['49', 'Finland', '18', '953', '53'], ['50', 'Switzerland', '16', '835', '52'], ['51', 'Japan', '20', '987', '49'], ['52', 'Malawi', '19', '933', '49'], ['53', 'Czech Republic', '24', '1,101', '46'], ['54', 'France', '16', '730', '46'], ['55', 'Sweden', '18', '759', '42'], ['56', 'Indonesia', '26', '1,092', '42'], ['57', 'Philippines', '17', '698', '41'], ['58', 'Romania', '28', '1,149', '41'], ['59', 'Cook Islands', '6', '245', '41'], ['60', 'Argentina', '11', '424', '39'], ['61', 'Mozambique', '24', '864', '36'], ['62', 'Malta', '44', '1,535', '35'], ['63', 'Rwanda', '70', '2,255', '32'], ['64', 'Ghana', '31', '968', '31'], ['65', 'Fiji', '10', '304', '30'], ['66', 'Luxembourg', '30', '845', '28'], ['67', 'Thailand', '19', '527', '28'], ['68', 'Sierra Leone', '28', '766', '27'], ['69', 'Cyprus', '8', '206', '26'], ['70', 'Bahamas', '10', '241', '24'], ['71', 'Belize', '3', '66', '22'], ['72', 'Hungary', '19', '367', '19'], ['73', 'Panama', '11', '206', '19'], ['74', 'Bhutan', '16', '278', '17'], ['75', 'Serbia', '19', '214', '14'], ['76', 'Gibraltar', '30', '385', '13'], ['77', 'Bulgaria', '30', '289', '10'], ['78', 'Lesotho', '9', '82', '9'], ['79', 'China', '7', '63', '9'], ['80', 'Estonia', '11', '60', '5'], ['81', 'Maldives', '20', '75', '4'], ['82', 'Turkey', '7', '26', '4'], ['83', 'Cameroon', '14', '25', '2'], ['84', 'Myanmar', '7', '12', '2'], ['85', 'Gambia', '9', '11', '1'], ['86', 'Eswatini', '18', '0', '0'], ['87', 'Seychelles', '7', '0', '0'], ['88', 'Samoa', '9', '0', '0'], ['89', 'Mali', '8', '0', '0'], ['90', 'Croatia', '10', '0', '0'], ['91', 'Greece', '6', '0', '0'], ['References: ICC T20I rankings, As of 12 February 2024'], ['"Matches" is the number of matches played in the 12â€“24 months since the May before last, plus half the number in the 24 months before that.']]

In [25]:
 # Correct DataFrame to match the provided structure
# Ensuring the DataFrame matches expected columns: Rank, Team, Matches, Points, Rating
expected_columns = ["Rank", "Team", "Matches", "Points", "Rating"]
#Convert the list of data into a pandas DataFrame
df = pd.DataFrame(data, columns= expected_columns)  # The first row is the header

In [26]:
df

,Rank,Team,Matches,Points,Rating
0,ICC Men's T20I Team Rankings vte,None,None,None,None
1,Rank,Team,Matches,Points,Rating
2,1,India,71,"18,867",266
3,2,New Zealand,60,"15,387",256
4,3,England,48,"12,305",256
...,...,...,...,...,...
280,89,Mali,8,0,0
281,90,Croatia,10,0,0
282,91,Greece,6,0,0
283,"References: ICC T20I rankings, As of 12 Februa...",None,None,None,None
284,"""Matches"" is the number of matches played in t...",None,None,None,None

In [27]:
if not all(col in df.columns for col in expected_columns):
    print("DataFrame columns do not match expected structure. Please check the extracted data.")

# Save the DataFrame to a CSV file
csv_file_path = 'icc_mens_t20i_team_rankings.csv'
df.to_csv(csv_file_path, index=False)

print(f"Data extracted and saved to {csv_file_path}Â successfully.")

Data extracted and saved to icc_mens_t20i_team_rankings.csvÂ successfully.

In [28]:
df_1 = pd.read_csv('/content/icc_mens_t20i_team_rankings.csv')

In [29]:
df

,Rank,Team,Matches,Points,Rating
0,ICC Men's T20I Team Rankings vte,None,None,None,None
1,Rank,Team,Matches,Points,Rating
2,1,India,71,"18,867",266
3,2,New Zealand,60,"15,387",256
4,3,England,48,"12,305",256
...,...,...,...,...,...
280,89,Mali,8,0,0
281,90,Croatia,10,0,0
282,91,Greece,6,0,0
283,"References: ICC T20I rankings, As of 12 Februa...",None,None,None,None
284,"""Matches"" is the number of matches played in t...",None,None,None,None

In [30]:
# Keep only rows where all values are strings
df = df[df.applymap(lambda x: isinstance(x, str)).all(axis=1)]

# Display the modified DataFrame
print(df)

     Rank         Team  Matches  Points  Rating
1    Rank         Team  Matches  Points  Rating
2       1        India       71  18,867     266
3       2  New Zealand       60  15,387     256
4       3      England       48  12,305     256
5       4    Australia       41  10,349     252
..    ...          ...      ...     ...     ...
278    87   Seychelles        7       0       0
279    88        Samoa        9       0       0
280    89         Mali        8       0       0
281    90      Croatia       10       0       0
282    91       Greece        6       0       0

[276 rows x 5 columns]

In [31]:
# Save the DataFrame to a CSV file
csv_file_path = 'icc_mens_t20i_team_rankings.csv'
df.to_csv(csv_file_path, index=False)

print(f"Data extracted and saved to {csv_file_path}Â successfully.")

Data extracted and saved to icc_mens_t20i_team_rankings.csvÂ successfully.

In [32]:
# Remove duplicate rows
df = df.drop_duplicates()

# Display the modified DataFrame
print(df)

    Rank         Team  Matches  Points  Rating
1   Rank         Team  Matches  Points  Rating
2      1        India       71  18,867     266
3      2  New Zealand       60  15,387     256
4      3      England       48  12,305     256
5      4    Australia       41  10,349     252
..   ...          ...      ...     ...     ...
88    87   Seychelles        7       0       0
89    88        Samoa        9       0       0
90    89         Mali        8       0       0
91    90      Croatia       10       0       0
92    91       Greece        6       0       0

[92 rows x 5 columns]

In [33]:
# Save the DataFrame to a CSV file
csv_file_path = 'icc_mens_t20i_team_rankings_updated.csv'
df.to_csv(csv_file_path, index=False)

print(f"Data extracted and saved to {csv_file_path}Â successfully.")

Data extracted and saved to icc_mens_t20i_team_rankings_updated.csvÂ successfully.